* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: #FFDBA5;
}

.wrapper {
    margin: auto;
    align-content: center;
    max-width: 1100px;
    overflow: hidden;

}

/*HEADER*/
header {

    border-bottom: 2px solid black;
}
.titleWww {
   margin: 2vh auto;
    width: 80vw;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.logo {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    top: 1vh;
    right: 1vw;
}


/* STATS*/
.stats {
    margin: 2vh;
    display: flex;
    justify-content: space-around;
}
.goodDiv {
    background: #18CD15;
    border: 2px solid #000000;
    width: 30vw;
    max-width: 400px;
    height:8vh;
    position: relative;


}

.badDiv {
    background: red;
    border: 2px solid #000000;
    width: 30vw;
    max-width: 400px;
    height:8vh;
    position: relative;
}

.statsNumb {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.ans {
    display: block;
    margin:  auto;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-family: 'Baloo 2';

}

/*ZADANIE*/

.startStop {
    display: flex;

}

button.start {
    display: block;
    margin: auto;
    /*margin-top: -15px;*/
    width: 40vw;
    max-width: 300px;
    height: 6vh;
    border-radius: 30px;
    border: 3px solid black;
    background: rgba(222, 179, 27, 0.6);
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.1em;
}
button.end {
    display: block;
    margin: auto;
    /*margin-top: -15px;*/
    width: 40vw;
    max-width: 300px;
    height: 6vh;
    border-radius: 30px;
    border: 3px solid black;
    background: rgba(222, 179, 27, 0.6);
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.1em;
}

.score {
    border: 5px solid black;
    border-radius: 20px;
    height: 30vh;
    width: 70%;
    max-width: 400px;
    margin: 2vh auto;
    position: relative;
    pointer-events: none;

}

.keyExc {
    height: 28vh;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.ansTon {
    margin-top: -10px;
}

.form {
    display: inline-block;
    margin: auto;
}

/*wygląd buttona*/
.answersForm label {
    display: inline-block;
    padding: 15px 20px;
    width: 28vw;
    max-width: 250px;
    background-color: #FEBE8C;
    border: 2px black solid;
    border-radius: 25px;
    margin: 5px auto;
    font-weight: 700;
    font-family: "Baloo 2";
    text-align: center;
}

.answersForm  input:checked + label {
    background-color: #FFFBC1;
}

.answersForm input {
    display: none;
}
.answersForm form {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    max-width: 1100px;
    margin: auto;

}


.answers {
    display: flex;
    flex: 20vw ;
    flex-flow: wrap;
    justify-content: space-around;
}
.btnAns {
    width: 22vw;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin: 0.5vh 0;

}

input:disabled + label {
    background-color: rgba(0, 0, 0, 0.4);
}

input[type=hidden] + label {
    display: none;
/*visibility: hidden;*/
}


.copy {
    display: block;
    text-align: center;
    margin: auto;
}

button.check {
    display: block;
    margin: 10px auto;

    width: 38vw;
    height: 5vh;
    border-radius: 30px;
    border: 3px solid black;
    background: rgba(222, 179, 27, 0.6);
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.1em;
}
button:hover {

    box-shadow: 0 0 0 3px blue;
    color: darkblue;
}

.settings {
    margin: 2vh auto;
    padding: 2vh;
    border: 2px black solid;
    border-radius: 30px;
max-width: 600px;
}
